/* Menu Navigation */
.fixed{
    position: fixed;
    width: 100%;
}
.bg-nav{
    --tw-bg-opacity: 1;
    background-color: #000000;
}
.h1-menu{
    color: #36FFB0;
    padding-left: 5%;
    font-weight: bold;
    font-size: 30px;
}

.search-bar{
    display: flex;
    flex-direction: row;
}
.loop{
    background-color: white;
    border-radius: 0 5px 5px 0px;
}
.input-search{
    border-radius: 5px 0px 0px 5px;
}
.bg-nav{
    border-bottom: 2px solid #919191;
}
@media (max-width: 640px) {
    .logo-menu{
        display: none;
    }
    

  }
  @media (max-width: 1200px) {
    .search-bar{
        display: none;
    }
  }
  /* Footer */
  .all-footer{
    background-color: #000000;
    border-top: 2px solid #919191;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
  }
  .footer{
    
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  .footer-infos{

      width: 300px;
  }

  .img-footer{
      width: 10%;
  }
  .footer-p-infos{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .footer-contact > h2{
      color: #36FFB0;
      font-weight: bold;
      font-size: 30px;
  }
  .footer-infos > h2{
    color: #36FFB0;
    font-weight: bold;
    font-size: 30px;
}
.copyright{
    background-color: #000000;
    text-align: center;
    color: white;
    font-size: 15px;
}
@media (max-width: 640px) {
    .all-footer{
        background-color: #000000;
        border-top: 2px solid #919191;
        padding-top: 2%;
        padding-bottom: 2%;
        color: white;
      }
      .footer{
        
          display: flex;
          flex-direction: row;
          justify-content: space-around;
      }
      .footer-infos{
    
          width: 100px;
      }
    
      .img-footer{
          width: 15%;
      }
      .footer-p-infos{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
      .footer-contact > h2{
          color: #36FFB0;
          font-weight: bold;
          font-size: 10px;
      }
      .footer-infos > h2{
        color: #36FFB0;
        font-weight: bold;
        font-size: 10px;
    }
    .copyright{
        background-color: #000000;
        text-align: center;
        color: white;
        font-size: 5px;
    }
    .footer-p-infos > div > p{
        font-size: 5px;
    }
    .footer-contact > p{
        font-size: 5px;
    }
}
  /* Index */
  .text-main{
      background-color: #000000;
      text-align: center;
      height: 92vh;
      border-bottom: 10px solid #5D19FF;
  }
  .h1-main{
      padding-top: 30vh;
      color: #36FFB0;
      font-weight: bold;
      font-size: 60px;
  }
  .p-main{
      color: white;
      font-size: 40px;
      
  }
  .div-subs-index{
      display: flex;
      flex-direction: column;

  }
  .premium-vip{
      margin-top: 20vh;
      display: flex;
      justify-content: space-around;
  }
.subs-title{
    margin-top: 2%;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
.vip > h2, .premium > h2{
    font-size: 30px;
    font-weight: bold;
}
.buttons-subs-index{
    margin-top: 20vh;
    background-color: #5D19FF;
    text-align: center;
    color: white;
    width: 20%;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
}
.top5-news{
    margin-top: 10%;
}
.top5-news > h1{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.new-actu > h2{
    text-align: center;
}
.details-actu{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
.new-actu{
    margin-top: 5%;
}
.new-actu > h2{
    font-size: 30px;
}
.description-new{
    text-align: center;
    margin-left: 14%;

}
.description-new>p{
    margin-top: 35%;
}
.img-new > img{
    width: 100%;

}
.img-new{

    width: 25%;
    margin-right: 5%;
}
@media (max-width: 640px) {
    .text-main{
        background-color: #000000;
        text-align: center;
        height: 92vh;
        border-bottom: 10px solid #5D19FF;
    }
    .h1-main{
        padding-top: 30vh;
        color: #36FFB0;
        font-weight: bold;
        font-size: 35px;
    }
    .p-main{
        color: white;
        font-size: 15px;
        
    }
    .div-subs-index{
        display: flex;
        flex-direction: column;
  
    }
    .premium-vip{
        margin-top: 10vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
    }
  .subs-title{
      margin-top: 2%;
      text-align: center;
      font-weight: bold;
      font-size: 30px;
  }
  .vip > h2, .premium > h2{
      font-size: 25px;
      font-weight: bold;
  }
  .buttons-subs-index{
      margin-top: 5vh;
      background-color: #5D19FF;
      text-align: center;
      color: white;
      width: 45%;
      border-radius: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 15px;
  }
  .vip{
      margin-top: 5vh;
  }
  .top5-news{
      margin-top: 10%;
  }
  .top5-news > h1{
      font-weight: bold;
      font-size: 30px;
      text-align: center;
  }
  
  .new-actu > h2{
      text-align: center;
  }
  .details-actu{
      display: flex;
      justify-content: space-around;
      margin-top: 2%;
  }
  .new-actu{
      margin-top: 5%;
  }
  .new-actu > h2{
      font-size: 20px;
  }
  .description-new{
      text-align: center;
      margin-left: 14%;
  
  }
  .description-new>p{
      margin-top: 35%;
      font-size: 10px;
  }
  .img-new > img{
      width: 100%;
  
  }
  .img-new{
    margin-top: 10%;
      width: 20%;
  }
}
