.bg-nav{
    --tw-bg-opacity: 1;
    background-color: #000000;
}
.h1-menu{
    color: #36FFB0;
    padding-left: 5%;
    font-weight: bold;
    font-size: 30px;
}

.search-bar{
    display: flex;
    flex-direction: row;
}
.loop{
    background-color: white;
    border-radius: 0 5px 5px 0px;
}
.input-search{
    border-radius: 5px 0px 0px 5px;
}
@media (max-width: 640px) {
    .logo-menu{
        display: none;
    }
    

  }
  @media (max-width: 1200px) {
    .search-bar{
        display: none;
    }
  }