/* Menu Navigation */
.fixed{
    position: fixed;
    width: 100%;
}
.bg-nav{
    --tw-bg-opacity: 1;
    background-color: #111111;
}
.h1-menu{
    color: #36FFB0;
    padding-left: 5%;
    font-weight: bold;
    font-size: 30px;
}

.search-bar{
    display: flex;
    flex-direction: row;
}
.loop{
    background-color: white;
    border-radius: 0 5px 5px 0px;
}
.input-search{
    border-radius: 5px 0px 0px 5px;
}
.bg-nav{
    border-bottom: 2px solid #919191;
}
@media (max-width: 640px) {
    .logo-menu{
        display: none;
    }
    

  }
  @media (max-width: 1200px) {
    .search-bar{
        display: none;
    }
  }
  /* Footer */
  .all-footer{
    background-color: #111111;
    border-top: 2px solid #919191;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
  }
  .footer{
    
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  .footer-infos{

      width: 300px;
  }

  .img-footer{
      width: 10%;
  }
  .footer-p-infos{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .footer-contact > h2{
      color: #36FFB0;
      font-weight: bold;
      font-size: 30px;
  }
  .footer-infos > h2{
    color: #36FFB0;
    font-weight: bold;
    font-size: 30px;
}
.copyright{
    background-color: #111111;
    text-align: center;
    color: white;
    font-size: 15px;
}
@media (max-width: 640px) {
    .all-footer{
        background-color: #111111;
        border-top: 2px solid #919191;
        padding-top: 2%;
        padding-bottom: 2%;
        color: white;
        
      }
      .footer{
        
          display: flex;
          flex-direction: row;
          justify-content: space-around;
      }
      .footer-infos{
    
          width: 100px;
      }
    
      .img-footer{
          width: 15%;
      }
      .footer-p-infos{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
      .footer-contact > h2{
          color: #36FFB0;
          font-weight: bold;
          font-size: 10px;
      }
      .footer-infos > h2{
        color: #36FFB0;
        font-weight: bold;
        font-size: 10px;
    }
    .copyright{
        background-color: #111111;
        text-align: center;
        color: white;
        font-size: 5px;
    }
    .footer-p-infos > div > p{
        font-size: 5px;
    }
    .footer-contact > p{
        font-size: 5px;
    }
}
  /* Index */
  .text-main{
      background-color: #111111;
      text-align: center;
      height: 100vh;
      border-bottom: 10px solid #5D19FF;
  }
  .h1-main{
      padding-top: 30vh;
      color: #36FFB0;
      font-weight: bold;
      font-size: 60px;
  }
  .p-main{
      color: white;
      font-size: 40px;
      
  }
  .div-subs-index{
      display: flex;
      flex-direction: column;

  }
  .premium-vip{
      margin-top: 20vh;
      display: flex;
      justify-content: space-around;
  }
.subs-title{
    margin-top: 2%;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
.vip > h2, .premium > h2{
    font-size: 30px;
    font-weight: bold;
}
.buttons-subs-index{
    margin-top: 20vh;
    background-color: #5D19FF;
    text-align: center;
    color: white;
    width: 20%;
    border-radius: 10px;
    padding: 20px;
    font-size: 25px;

}
.top5-news{
    margin-top: 10%;
}
.top5-news > h1{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.new-actu > h2{
    text-align: center;
}
.details-actu{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
.new-actu{
    margin-top: 5%;
}
.new-actu > h2{
    font-size: 30px;
}
.description-new{
    text-align: center;
    margin-left: 14%;

}
.description-new>p{
    margin-top: 35%;
}
.img-new > img{
    width: 100%;

}
.img-new{

    width: 25%;
    margin-right: 5%;
}
@media (max-width: 640px) {
    .text-main{
        background-color: #111111;
        text-align: center;
        height: 92vh;
        border-bottom: 10px solid #5D19FF;
    }
    .h1-main{
        padding-top: 30vh;
        color: #36FFB0;
        font-weight: bold;
        font-size: 35px;
    }
    .p-main{
        color: white;
        font-size: 15px;
        
    }
    .div-subs-index{
        display: flex;
        flex-direction: column;
  
    }
    .premium-vip{
        margin-top: 10vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
    }
  .subs-title{
      margin-top: 2%;
      text-align: center;
      font-weight: bold;
      font-size: 30px;
  }
  .vip > h2, .premium > h2{
      font-size: 25px;
      font-weight: bold;
  }
  .buttons-subs-index{
      margin-top: 5vh;
      background-color: #5D19FF;
      text-align: center;
      color: white;
      width: 45%;
      border-radius: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 15px;
  }
  .vip{
      margin-top: 5vh;
  }
  .top5-news{
      margin-top: 10%;
  }
  .top5-news > h1{
      font-weight: bold;
      font-size: 30px;
      text-align: center;
  }
  
  .new-actu > h2{
      text-align: center;
  }
  .details-actu{
      display: flex;
      justify-content: space-around;
      margin-top: 2%;
  }
  .new-actu{
      margin-top: 5%;
  }
  .new-actu > h2{
      font-size: 20px;
  }
  .description-new{
      text-align: center;
      margin-left: 14%;
  
  }
  .description-new>p{
      margin-top: 35%;
      font-size: 10px;
  }
  .img-new > img{
      width: 100%;
  
  }
  .img-new{
    margin-top: 10%;
      width: 20%;
  }
}
/* DROPS */
.pres-drops{
    background-color: #111111;
    height: 70vh;
    padding-top: 35vh;
}
.pres-drops > h1{
    color: #36FFB0;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.drop-date{
    background-color: #36FFB0;
    font-weight: bold;
    font-size: 30px;
    color: black;
    border-bottom: 2px solid gray;
    padding-left: 2%;
}
.drop >div> h1{
    padding-left: 2%;
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.drop >div> p{
    padding-top: 3%;
    padding-left: 2%;
    font-size: 20px;
    color: black;
}
.drop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
}
.img-drop-img{
    width: 400px;
}
.drop-container{
    height: 85vh;
    padding-top: 10%;
}
.text-drops{
    padding-left: 2%;
}
.img-drop{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.text-drops > h1{
    padding-left: 2%;
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.text-drops > p{
    padding-left: 2%;
    font-size: 20px;
    color: black;
}
.form-sub-drop{
    display: flex;
    justify-content: center;
}
.buttons-subs-drop{
    margin-top: 2vh;
    background-color: #5D19FF;
    text-align: center;
    color: white;
    width: 200px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}
.buttons-subs-drop > button{
    width: 100%;
}
.img-drop > p{
    font-weight: bold;
    font-size: 20px;
}
.img-drop-img2{
    width: 500px;
}
@media (max-width: 640px) {
    .pres-drops{
        height: 40vh;
        padding-top: 20vh; 
    }
    .all-drops{
        height: 50vh;
    }
    .pres-drops > h1{
        font-size: 25px;
    }
    .drop-date > h1{
        font-size: 20px;
    }
    .drop > div > p{
        font-size: 15px;
    }
    .drop > div > h1{
        font-size: 20px;
    }
    .img-drop-img{
        width: 200px;
    }
    .img-drop-img2{
        width: 300px;
    }
    .drop-container{
        padding-top: 15vh;
    }
    .text-drops > p{
        font-size: 15px;
    }
    .text-drops > h1{
        font-size: 25px;
    }
    .img-drop-img2{
        margin-top: 10vh;
    }
}
/* ACTUS */
.actus-container{
    height: 100vh;
    padding-top: 10%;
    display: flex;
    justify-content: center;

}

.actu-img{
  
}
.img-actu{
    width: 100%;
}
.img-title-actu{
    width: 5%;
}
.actu-title{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
}
.actu-title > h1{
    padding-left: 1%;
}
.actu-more > a > p{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
@media (min-width: 640px) {
    .actu{
        border: gray 1px solid;
        border-radius: 5px;
        width: 1000px;
    
    }
}
@media (max-width: 640px) {
    .actus-container{
        height: 82vh;
        padding-top: 20%;
        display: flex;
        justify-content: center;
    
    }
    .actu{
        height: 330px;
        border-bottom: gray 1px solid;
        border-top: gray 1px solid;
    }
    .img-actu{
        width: 100%;
    }
    .img-title-actu{
        width: 8%;
    }
    .actu-title{
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        font-size: 15px;
    }
    .actu-title > h1{
        padding-left: 1%;
    }
    .actu-more > a > p{
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
}
.actu-container{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}
.img-actu-actu{
    width: 800px;
    border-radius: 10px;
}
.actu-container > h1{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}
.actu-container > p{
    font-size: 20px;
    padding-top: 20px;
}
@media (max-width: 640px) {
    .img-actu-actu{
        width: 300px;
        border-radius: 10px;
    }
    .actu-container{
        padding-top: 5vh;
        height: 90vh;
    }
    .actu-container > h1{
        font-size: 25px;

    }
}
/* SUBS */

.subs-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1%;
}
.subs-title{
    text-align: center;
}
.premium-sub, .vip-sub{
    width: 300px;
    height: 350px;
}
.all-subs-container{
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-sub{
    margin-top: 2vh;
    background-color: #5D19FF;
    text-align: center;
    color: white;
    width: 150px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}
.premium-sub-title, .vip-sub-title{
    border: gray 1px solid;
    border-radius: 5px 5px 0px 0px;
    height: 175px;
}
.premium-sub-details, .vip-sub-details{
    height: 175px;
    background-color: whitesmoke;
    border-bottom: gray 1px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
    border-radius: 0px 0px 5px 5px;
}
.premium-sub-title >h1 , .vip-sub-title >h1{
    padding-left: 5%;
    font-size: 30px;
    font-weight: bold;
}
.premium-sub-title >p , .vip-sub-title >p{
    padding-left: 5%;
    font-size: 25px;
}
.div-sub-button{
    display: flex;
    justify-content: center;
}
.premium-sub-details > h1, .vip-sub-details > h1{
    padding-left: 5%;
    padding-top: 5%;
    font-size: 20px;
}
.premium-sub-details > p, .vip-sub-details > p{
    padding-left: 5%;
    font-size: 20px;
}
.all-sub{
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.all-sub > h1{
    font-size: 40px;
    font-weight: bold;
}
.all-sub > h2{
    font-size: 30px;
    font-weight: bold;
}
@media (max-width: 640px) {
    .subs-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1%;
    }
    .subs-title{
        text-align: center;
    }
    .premium-sub, .vip-sub{
        width: 250px;
        height: 300px;
    }
    .all-subs-container{
        padding-top: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .button-sub{
        margin-top: 2vh;
        background-color: #5D19FF;
        text-align: center;
        color: white;
        width: 150px;
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
    }
    .premium-sub-title, .vip-sub-title{
        border: gray 1px solid;
        border-radius: 5px 5px 0px 0px;
        height: 150px;
    }
    .premium-sub-details, .vip-sub-details{
        height: 150px;
        background-color: whitesmoke;
        border-bottom: gray 1px solid;
        border-left: gray 1px solid;
        border-right: gray 1px solid;
        border-radius: 0px 0px 5px 5px;
    }
    .premium-sub-title >h1 , .vip-sub-title >h1{
        padding-left: 5%;
        font-size: 25px;
        font-weight: bold;
    }
    .premium-sub-title >p , .vip-sub-title >p{
        padding-left: 5%;
        font-size: 20px;
    }
    .div-sub-button{
        display: flex;
        justify-content: center;
    }
    .premium-sub-details > h1, .vip-sub-details > h1{
        padding-left: 5%;
        padding-top: 5%;
        font-size: 17px;
    }
    .premium-sub-details > p, .vip-sub-details > p{
        padding-left: 5%;
        font-size: 17px;
    }
    .vip-sub{
        margin-top: 5%;
    }
    .all-sub{
        padding-top: 20%;
        padding-bottom: 20%;
        height: 90vh;
    }
    .all-sub > h1{
        font-size: 25px;
        font-weight: bold;
    }
    .all-sub > h2{
        font-size: 25px;
        font-weight: bold;
    }
    .all-sub > h2{
        font-size: 20px;
    }
}


/* CONTACTS */
.all-contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}
.div-contacts{
    text-align: center;
}

.contact-form > h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.contact-form > div{
    border: 2px solid #707070;
    border-radius: 10px;
    height: 42vh;
    width: 50vw;
}
.contact-form > div > form > div > div >input{
    border: 1px solid #707070;
    border-radius: 5px;

}
.contact-form > div > form > div >input{
    border: 1px solid #707070;
    border-radius: 5px;

}
.contact-form > div > form > div >textarea{
    border: 1px solid #707070;
    border-radius: 5px;

}
.names{
    width:47vw ;
    display: flex;
    justify-content: space-between;
    
}
.contact-form > div > form{
    padding: 20px;
}
.email-send{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    width: 16vw;

}
.email-send > textarea{
    width: 250%;
}
.buttons-send-email{
    background-color: #5D19FF;
    text-align: center;
    color: white;
    width: 200px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}
.div-button-email{
    width: 47vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media (max-width: 640px) {
    .contact-form > div{
        border: 2px solid #707070;
        border-radius: 10px;
        height: 50vh;
        width: 70vw;
    }
    .names{
        display: flex;
        flex-direction: column;
    }
    .names > div > input{
        width: 47vw;
    }
    .names > div{
        padding-top: 1%;
    }
    .email-send > input{
        width: 47vw;
    }
    .all-contacts{
        padding-top: 20%;
    }
    .contact-form > h1{
        font-size: 20px;
    }
}
/* LOGIN */
.all-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.all-login > h1{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}
.button-login{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #5D19FF;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;

}
@media (max-width: 640px) {
    .all-login{
        height: 90vh;
    }
}
/* USER */
.all-user{
    height: 78vh;
    padding-top: 10%;
    padding-left: 5%;
}
.all-user > h1{
    font-size: 30px;
    font-weight: bold;
}
form{
    width: 25%;
}
div > form > h2{
    padding-top: 20px;
    font-size: 25px;

}
.div-edit-sub{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.div-edit-sub > a{
    color: #338fe9;
}
.annul-sub{
    color: red;
}
.button-edit-sub{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #5D19FF;
    text-align: center;
    color: white;
    margin-top: 5%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;

}
@media (max-width: 640px) {
    .all-user{
        height: 88vh;
        padding-top: 20%;
        padding-left: 5%;
    }
    form{
        width: 50%;
    }
    .all-user > h1{
        font-size: 25px;
        font-weight: bold;
    }
    div > form > h2{
        padding-top: 20px;
        font-size: 20px;
    
    }
}